<% include ./layout %>
<% include ./navbar %>
<body>
    <div class='container'>
        <div class='row'>
            <div class='jumbotron'>
                <h1>Welcome to Stan's Voting App</h1>
                <p>If you want to start a poll, please <button class='btn btn-default' data-toggle="modal" data-target="#signup"><i class='fa fa-pied-piper'></i> Sign Up</button> or <button class='btn btn-default' data-toggle="modal" data-target="#myModal"><i class='fa fa-sign-in'></i> Log In</button></p>
            </div>
        </div>
        <div class='row'>
            <div class="list-group">
                <a href="#" class="list-group-item">Cras justo odio</a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</body>