<% include ./layout %>
<% include ./navbar %>
<body>
    <div class='container'>
        <div class='row'>
            <div class='jumbotron'>
                <h1>Welcome to Stan's Voting App</h1>
                <p>If you want to start a poll, please <button class='btn btn-default' data-toggle="modal" data-target="#signup"><i class='fa fa-pied-piper'></i> Sign Up</button> or <button class='btn btn-default' data-toggle="modal" data-target="#myModal"><i class='fa fa-sign-in'></i> Log In</button></p>
            </div>
        </div>
        <div class='row'>
            <div class="list-group">
                <% polls.forEach(function(poll){%>
                    <a href='/polls/<%= poll._id %>' class='list-group-item clearfix'><%= poll.question %><span class='pull-right'><strong><%= poll.author %></strong></span></a>
                <% }) %>
            </div>
        </div>
    </div>
</body>